{% extends "base.html" %} 
{% load static %} 
{% block title %} Category {%endblock title %} 
{% block main %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome <span class="text-capitalize">{{request.user}}</span></h3>
    
    <div class="col-sm-2 border-end">
        <ul class="list-unstyled">
            <li class="d-grid"><a href="{%url 'profile' %}" class="btn btn-primary">Profile</a></li><br>
            <li class="d-grid"><a href="{%url 'address' %}" class="btn btn-primary">Address</a></li>
        </ul>
    </div>
    <div class="col-sm-8 offset-sm-1">
        <div class="row">
            {%for add in custadd %}
                <div class="col-sm-6">
                    <div class="card m-3">
                        <div class="card-body">
                            <h3>Address {{forloop.counter}}</h3>
                            <p>Name : {{add.name}}</p>
                            <p>Locality : {{add.locality}}</p>
                            <p>City : {{add.city}}</p>
                            <p>Mobile : {{add.mobile}}</p>
                            <p>State : {{add.state}}</p>
                            <p>Zipcode : {{add.zipcode}}</p>
                            <p class="text-center"><a href="{%url 'updateAddress' pk=add.id %}" type="button" class="btn btn-primary">Update</a></p>
                        </div>    
                    </div>
                </div>
            {%endfor%}
        </div>
    </div>
</div>
</div>
{% endblock main %}